/* Main */

body {
    background-color: #231C56; 
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 300;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

h3 {
    font-size: 40px;
}

li, p {
    font-size: 35px;
}

img {
    margin: 0 auto;
}

a, h4 {
    color: #6DCDBB;
}

a:hover {
    color: #fff;
    transition: 1s;
}

h4 {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0;
}

code {
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 20px;
}

img {
    max-height: 300px;

}

table, td {
    border: solid 1px white;
    border-collapse: collapse;
    padding: 10px;
    font-size: 30px;
}

td:first-of-type {
    background-color: white;
    color:  #231C56;
    border: solid 1px #231C56;
}

/* Desk JS */
.deck-slide-scaler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.deck-status {
    font-size: 20px;    
    color: #6DCDBB;
}

.box {
    height: 200px;
    width: 200px;   
    background-color: #ced6e0;
    color: #182C61;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}

.box:hover {
    background-color: #182C61;
    color: #ced6e0;
}

.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 100px;
}

.rotated {
    background-image: url('https://images.pexels.com/photos/736530/pexels-photo-736530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
    height: 400px;
    width: 400px;
    background-position: center;
    transform: rotate(45deg);
}

.cat--fade-in {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/225406/pexels-photo-225406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
