body {
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.loader-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    transition: transform 300ms linear;
}

.loader:hover {
    transform: rotate(90deg);
    background-color: grey;
}